/* Copyright © Imesh Chamara 2018 */
body, div {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgb(38,38,38);
	color: rgb(200,200,200);
	display: flex;
}
#playbar {
	width: 100%;
	display: block;
	bottom: 0;
	height: 50px;
	position: fixed;
	background-color: rgb(50,50,50);
	margin: 0;
	padding: 0;
}
#progbar, #btnbar {
	width: 90%;
	height: 20px;
	margin: 0 auto;
}
#volbar {
	width: 100px;
	height: 20px;
	margin-top: 2px;
	margin-left: 10px;
	display: inline-block;
	position: absolute;
}
#progbar_l, #volbar_l {
	top: 9px;
	width: 100%;
	background-color: rgb(100,100,100);
	height: 2px;
	position: relative;
	display: flex;
}
#progbar_l_p, #volbar_l_p {
	position: relative;
	width: 0%;
	background-color: rgb(0,122,204);
	height: 2px;
}
#progbar_b, #volbar_b {
	top: 9px;
	left: 0%;
	margin-top: -14px;
	margin-left: -6px;
	display: flex;
	position: absolute;
	background-color: rgb(0,122,204);
	padding: 0;
	border: 6px solid rgb(0,122,204);
	border-radius: 50%;
}
.btnbox {
	cursor: pointer;
	width: 24px;
	height: 24px;
	border: 0;
	text-shadow: none;
	color: transparent;
	display: inline-block;
}
#sebabut {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTcgNmgydjEySDdWNnptMiA2bDggNlY2bC04IDZ6Ii8+PC9zdmc+);
	background-position: 40% center;
}
.playbut {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTggNXYxNGwxMS03eiIvPjwvc3ZnPg==) no-repeat 55% center;
}
.pausebut {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTYgMTloNFY1SDZ2MTR6bTgtMTR2MTRoNFY1aC00eiIvPjwvc3ZnPg==);
	background-position: center center;
}
#stopbut {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48c3R5bGUgdHlwZT0idGV4dC9jc3MiPiAuc3Qwe2ZpbGw6I0M4QzhDODt9IDwvc3R5bGU+PHJlY3QgeD0iNSIgeT0iNSIgY2xhc3M9InN0MCIgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0Ii8+PC9zdmc+);
	background-position: center center;
}
#sefobut {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTcgMThsOC02LTgtNnYxMnptOC0xMnYxMmgyVjZoLTJ6Ii8+PC9zdmc+);
	background-position: 60% center;
}
.sound {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTQgOWg0LjAwMkwxMiA1djE0Yy0yLjQ0Ni0yLjY2Ny0zLjc3OC00LTMuOTk4LTRINFY5em0xMCA0YTEgMSAwIDAgMCAwLTJWOWEzIDMgMCAwIDEgMCA2di0yem0wIDRhNSA1IDAgMCAwIDAtMTBWNWE3IDcgMCAwIDEgMCAxNHYtMnoiLz48L3N2Zz4=);
}
.soundmute {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTE4IDEwLjU4NGwtMi4yOTMtMi4yOTEtMS40MTQgMS40MTQgMi4yOTMgMi4yOTEtMi4yOTEgMi4yOTEgMS40MTQgMS40MTUgMi4yOTItMi4yOTIgMi4yOTQgMi4yOTIgMS40MTQtMS40MTUtMi4yOTMtMi4yOTEgMi4yOTEtMi4yOS0xLjQxNC0xLjQxNS0yLjI5MiAyLjI5MXpNNCA5aDQuMDAyTDEyIDV2MTRjLTIuNDQ2LTIuNjY3LTMuNzc4LTQtMy45OTgtNEg0Vjl6Ii8+PC9zdmc+) no-repeat left center;
}
.repeat-all {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2Y1MCIgZD0iTTExLjAyNyAxNmE0LjU1IDQuNTUgMCAwIDAgLjIzIDJIOUE2IDYgMCAxIDEgOSA2aDNWNGw0IDMtNCAzVjhIOWE0IDQgMCAxIDAgMCA4aDIuMDI3em03LjcyNS0yLjYxYTMuOTk3IDMuOTk3IDAgMCAwLTEuNjQ4LTQuNzkybDEuNzctMS4xOC4wMi4wMTdBNS45ODcgNS45ODcgMCAwIDEgMjEgMTJjMCAxLjMtLjQxMyAyLjUwMy0xLjExNiAzLjQ4NmE0LjQ5NiA0LjQ5NiAwIDAgMC0xLjEzMi0yLjA5NnoiLz48cGF0aCBmaWxsPSIjZjUwIiBkPSJNMTUuNSAyMGEzLjUgMy41IDAgMSAxIDAtNyAzLjUgMy41IDAgMCAxIDAgN3ptLS41LTV2NGgxdi00aC0xem0tMSAwdjFoMXYtMWgtMXoiLz48L3N2Zz4K)
}
.repeat-one {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2Y1MCIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo=)
}
.repeat-none {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo=)
}
.addpl {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTYgMTFoMTJ2Mkg2ek02IDdoOHYySDZ6TTYgMTVoMTJ2Mkg2ek0xNiAzdjZsNC0zeiI+PC9wYXRoPjwvc3ZnPg==);
}
.anime1 {
	transition-duration: 1s;
}
#soundwrap {
	display: inline-block;
	height: auto;
	width: 30px;
}
#playlist {
	width: 100%;
	height: 100%;
}
.playitem {
	border: 2px solid rgb(65,65,65);
	width: 400px;
	height: 40px;
	margin: 0 auto;
	border-radius: 4px 4px;
	display: block;
}
	.playitem:hover {
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4)
	}
.playitem-select{
	border-color: rgb(0,122,204);
}
.playitem-playing{
	color: rgb(0,122,204);
}
.playitem-text {
	height: 19px;
	width: 220px;
	position: absolute;
	left: 50px;
	font-family: 'Segoe UI';
	font-size: 14px;
}
.playitem-text-title {
	top: 4px;
	font-weight: bold;
}
.playitem-text-name {
	top: 20px;
}
.playitem-itembar {
	display: inline-block;
	height: 30px;
	margin-left: 230px;
	margin-top: 5px;
}
.playitem-cont {
	width: 100%;
	height: 40px;
	display: inline-flex;
	position: relative;
}
.playitem-img {
	margin: 2px;
	background-color: rgb(35,35,35);
	display: inline-block;
}
.playitem-time {
	position: absolute;
	left: 330px;
	top: 10px;
	font-family: 'Segoe UI';
	font-size: 14px;
}
#timeview {
	float:right;
	margin-top:4px;
	font-family: 'Segoe UI';
	font-size: 12px;
}

