/* Copyright © Imesh Chamara 2019 */
@import url("ControlPanel.css");
canvas {
	border: 1px solid #7979f8;
	background-color: #fff;
}
#ic_p_btn_con {
	width: 300px;
	height: 140px;
	margin: 20px auto;
}
#ic_p_btn_con div {
	display: block;
	width: calc(100% - 20px);
	margin: 10px;
	text-align: center;
}
#ic_p_btn_con .ic-btn2 {
	width: 80px;
}
#ic-p-style {
	width: 100%;
	text-align: center;
	padding: 10px 0;
	margin: 10px 0;
}
#ic-p-style span {
	padding: 10px;
	border: 1px solid #dd4539;
	cursor: pointer;
	box-shadow: 0 2px 4px #0004;
	transition-duration: 0.4s;
}
#ic_p_style_s1
{
	border-radius: 10px 0 0 10px;
	border-right-width: 0 !important;
}
#ic_p_style_s2
{
	border-radius: 0 10px 10px 0;
	border-left-width: 0 !important;
}
.ic-p-style-c1
{
	background-color: #f44336;
	color: #fff;
}
.ic-p-style-c2
{
	background-color: #fff;
	color: #f44336;
}
