/* Copyright © Imesh Chamara 2019 */
@import url("ControlPanel.css");
.ic-p-itm  {
	width: 200px;
	margin: 6px auto;
	display: flex;
}
.ic-p-itm span {
	font-size: 16px;
	margin-top: 4px;
}
.ic-p-itm i {
	margin-left: auto;
	cursor: pointer;
}
.ic-p-itmi  {
	margin-left: 0 !important;
	margin-right: 10px;
}
